.MessageList {
  height: calc(100vh - 53px - 49px - 100px);
  overflow-y: auto;
  padding: 30px;
  border-right: 1px solid #505d70;
  border-left: 1px solid #505d70;
}

.MessageList::-webkit-scrollbar {
  width: 10px;
}

.MessageList::-webkit-scrollbar-thumb {
   background: #ccc;
   border-radius: 5px;
 }