.Header {
  display: flex;
  align-items: center;
  height: 50px;
  padding-right: 40px;
  padding-left: 40px;
  color: #455167;
  background: #E5EAEE;
}

.Header div {
  font-size: 28px;
  font-weight: 500;
}