.editMessage {
  display: flex;
  align-items: center;
  width: 100%;
}

.editMessage textarea {
  background: #E5EAEE;
  padding: 10px 20px;
  color: #455167;
  border-radius: 10px;
  position: relative;
  font-size: 16px;
  line-height: 1.4;
  margin-right: 15px;
  width: 100%;
  overflow-y: auto;
}

.editMessage button {
  color: #fff;
  background-color: #4d72a8;
  letter-spacing: .5px;
  font-size: 14px;
  padding: 10px 15px;
}

.editMessage button:hover {
  background-color: #466997;
}