.MessageBlock {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.MessageBlock:last-child {
  margin-bottom: 0;
}

.MessageBlock .authorBlock {
  margin-right: 20px;
}

.MessageBlock .authorBlock .img {
  border-radius: 50%;;
  box-shadow: inset 0 0 3px rgba(204, 204, 204, 0.8);
  margin-bottom: 2px;
}

.MessageBlock .authorBlock img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  z-index: -1;
}

.MessageBlock .username {
  text-align: center;
  color: #455167;
  font-size: 14px;
}

.MessageBlock .message {
  background: #E5EAEE;
  padding: 10px 45px 10px 20px;
  color: #455167;
  border-radius: 10px;
  position: relative;
  font-size: 16px;
  line-height: 1.4;
  margin-right: 40px;
}

.MessageBlock .message::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 16px solid #E5EAEE;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -16px;
}

.MessageBlock .message pre {
  white-space: pre-wrap;
}

.MessageBlock .message .time {
  position: absolute;
  right: 6px;
  bottom: 6px;
  font-size: 12px;
  color: #6c6c6c;
}

/* Own message */

.MessageBlock.own .message {
  padding: 15px 50px 15px 20px;
}

.MessageBlock.own .message {
  background: #abcdec;
}

.MessageBlock.own .message::before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 16px solid #abcdec;
}

.MessageBlock .toolbar {
  display: none;
}

.MessageBlock.own .toolbar {
  display: block;
  position: absolute;
  top: 3px;
  right: 8px;
}

.MessageBlock.own .toolbar i {
  margin-left: 8px;
  cursor: pointer;
}

/* Like */

.MessageBlock .like {
  display: flex;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.MessageBlock .like div {
  margin-right: 8px;
  font-weight: 500;
}

.MessageBlock .like i {
  color: #858ea7;
  cursor: pointer;
}

.MessageBlock .like.active i {
  color: #455167;
}

.MessageBlock .like i:hover {
  color: #455167;
}